[submodule "slimmable_networks"]
	path = slimmable_networks
	url = https://github.com/JiahuiYu/slimmable_networks.git
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "pytorch_cifar_models"]
	path = pytorch_cifar_models
	url = https://github.com/chenyaofo/pytorch-cifar-models
